.book {
  width: 75rem;
  height: 12rem;
  margin-left: 3.5rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.title {
  margin-left: 1rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  margin-left: 1rem;
  margin-top: 5px;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.category {
  margin-left: 1rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.progression {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 2rem;
  transform: translate(0.5rem, -9.5rem);
  border-left: solid 1px #e8e8e8;
}

.chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.currentChapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.progressBtn {
  width: 11.5rem;
  height: 2.063rem;
  cursor: pointer;
  margin: 1.5rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
  border-radius: 3px;
  border-style: none;
  background-color: #0290ff;
}

.buttons {
  display: flex;
  margin-top: -1.7rem;
  margin-left: 0.5rem;
}

.btn {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border-right: solid 2px #e8e8e8;
  padding: 0 0.5rem 0 0.5rem;
}

.progressionBar {
  transform: translate(40rem, -3rem);
  display: flex;
  gap: 1rem;
}

.progressionPercent {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.circularProgressionBar {
  width: 4rem;
  height: 4rem;
}
