
.form-title {
  width: 11rem;
  height: 2rem;
  margin: 2rem 33rem 2rem 6rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}
